*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.butao{
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #ccc;
}
.btn-success{
    background-color: green;
    color: white;
}
.btn-editar{
    background-color: orangered;
    color: #fff;
}
.btn-excluir{
    background-color: red;
    color: #fff;
}
.tarefas{
    border: 1px solid red;

}
.tarefas ul{

}
.tarefas ul li{
    margin: 15px 0px;
    padding: 5px;
}
.tarefas ul li span{}
.tarefas ul li a{
    text-decoration: none;
    float: right;

}

